<!DOCTYPE html>
  <html lang="en">
    <head>
      <title>TinyApp</title>
    </head>
    <body>
      <form method="POST" action="/register">
        <label for="emailId">Email: </label>
        <input id="emailId" type="email" name="email">
        <label for="passwordId">Password: </label>
        <input id="passwordId" type="password" name="password">
        <input type="submit" value="Register">
      </form>
    </body>
</html>