<!DOCTYPE html>
  <html lang="en">
    <head>
      <title>TinyApp</title>
    </head>
    <body>
      <% include partials/_header %>
      <ul>
        <% for(url in urls) {%>
          <li><a href=<%= urls[url] %>><%= url %><a>:<%= urls[url] %></li>
        <% } %>
      </ul>
    </body>
</html>