<!DOCTYPE html>
  <html lang="en">
    <head>
      <title>TinyApp</title>
    </head>
    <body>
      <% include partials/_header %>
      <p>shortURL: <%= shortURL %></p>
      <form action="/urls/<%= shortURL %>" method="POST">
        <input name="editURL" type="text" value=<%= longURL %>>
        <input type="submit" value="Update">
      </form>
    </body>
</html>